<launch>
	<arg name="model" default="$(find sailrobot)/urdf/sailboat.urdf" />
	<arg name="usb_port" default="/dev/ttyACM0" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />	
	
	<group ns="sailboat">
		<node pkg="rosserial_python" name="serial" type="serial_node.py">
			<param name="baud" value="115200"/>
			<param name="port" value="$(arg usb_port)"/>
		</node>
	</group>
</launch>
