<launch>
	<arg name="model" default="$(find sailrobot)/urdf/sailboat.urdf" />
	<arg name="usb_port" default="/dev/ttyACM0" />
	<group ns="sailboat">
		<node pkg="rosserial_python" name="serial" type="serial_node.py">
			<param name="baud" value="115200"/>
			<param name="port" value="$(arg usb_port)"/>
		</node>
		<node pkg="sailrobot_modules" name="gps" type="gps_usb" />
	</group>
	<node pkg="topic_tools" name="fix_relay" type="relay" args="/sailboat/GPS/fix /fix"/>	
	<node pkg="rostopic" name="logger" type="rostopic" output="screen" args="echo /sailboat/sailboat_log"/>
	<node pkg="sailrobot_modules" name="xbee" type="fleetSailboat.py" />
</launch>
